*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

/*Navigation Bar*/

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  padding: 0.5% 3% 0.5% 3%;
  background-color: rgb(126, 90, 90);
  font-family:'Times New Roman', Times, serif;
  width: 100%;
	
	
}

/*Navigation-Bar-Style*/

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li a{
  padding: 8px 25px;
  text-decoration: none;
  font-size: 20px;
}

.nav-links li{
	list-style: none;
  }
  
.active{
  border: 5px solid rgb(184, 184, 67);
  background-color: rgb(184, 184, 67);  
  border-radius: 69px;
  color: black;
}

.inactive{
  color: black;
}

#logo {
  width: 5%;
  height: 5%;
  text-align: right;
}